:root {
	--scrollbar-thumb-color: var(--gray-400, #c1c1c1);
	--scrollbar-thumb-hover-color: var(--gray-600, #888);
	--scrollbar-track-color: transparent;
}

[data-theme="dark"] {
	--scrollbar-thumb-color: var(--gray-700, #444);
	--scrollbar-thumb-hover-color: var(--gray-500, #666);
	--scrollbar-track-color: transparent;
}

/* Works on Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

html {
	scrollbar-width: auto;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb-color);
	border-radius: 6px;

	&:hover {
		background: var(--scrollbar-thumb-hover-color, var(--scrollbar-thumb-color));
	}
}

*::-webkit-scrollbar-track,
*::-webkit-scrollbar-corner {
	background: var(--scrollbar-track-color);
}

*:not(#page-form-builder *)::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

body::-webkit-scrollbar {
	width: 12px !important;
	height: 12px !important;
}
